.diveditname {
    width: 330px;
    margin: 0 auto;
    transition: height ease 500ms;
  }

.h2editname {
    color: $white;
}

.labeleditname {
    @include item-space;
    color: $white;
}

.btnedit {
    display: flex;
    justify-content: space-between;
  }