.mainerror {
    margin: 10vh 0;
    color: #00bc77;
}

.h2error {
    font-size: 288px;
    font-weight: 700;
    line-height: 100%;
    margin: 0 0 10vh;
}

.h3error{
    font-size: 36px;
    font-weight: 500;
}

.aerror {
    font-size: 18px;
    font-weight: 500;
    color: #00bc77;
}